<ion-view view-title="{{data.activite.name}}">
    <ion-content class="padding">

        <ul class="list">
            <li class="item item-checkbox" ng-repeat="jeune in data.jeunes">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.jeunes[jeune.id].checked" ng-checked="data.getpresence(jeune.id)" ng-change="data.changepresence(jeune.id)">
                </label>
                {{jeune.name}}
            </li>
        </ul>
    </ion-content>
</ion-view>
