<ion-view view-title="Activités">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="activite in data.activites" type="item-text-wrap" href="#/tab/activites/{{activite.id}}">
                <h2>{{activite.name}}</h2>

                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="data.remove($index)">
                    Supprimer
                </ion-option-button>
            </ion-item>
        </ion-list>

      <div style="min-height: 50px"></div>

    </ion-content>

    <div class="bar bar-footer">
        <div class="buttons buttons-right">
            <button class="button button-energized-900 button-fab" ng-click="data.addActiviteModal()">
                <i class="icon ion-plus-round light"></i>
            </button>
        </div>
    </div>
</ion-view>

