<ion-view view-title="Activités">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="activite in data.activites" type="item-text-wrap" href="#/tab/activites/{{activite.id}}">
                <h2>{{activite.name}}</h2>

                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(activite)">
                    Supprimer
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
