<ion-view view-title="Jeunes">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="jeune in data.jeunes" type="item-text-wrap">
                <h2>{{jeune.name}}</h2>
            </ion-item>
        </ion-list>

        <input type="text" ng-model="data.test" ng-change="data.rafraichir()">
    </ion-content>

    <div class="bar bar-footer">
        <div class="buttons buttons-right">
            <button class="button button-energized-900 button-fab">
                <i class="icon ion-plus-round light"></i>
            </button>
        </div>
    </div>
</ion-view>
